body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  background-color: #f5f5dc;
  size: 16px;
  width: 100%;
  border-radius: 8px;
}

:root {
  /* Primary Colors */
  --sage-green: #597d72; /*used for headers, buttons, and highlights*/
  --beige: #f5f5dc; /*used for backgrounds*/
  /* Secondary Colors */
  --dark-sage: #2f4f4f; /* used for text on light backgrounds */
  --light-beige: #faf9f6; /* used for backgrounds or cards */
  /* Accent Colors */
  --coral: #ff7f50; /* used for call-to-action buttons or important highlights*/
  --white: #ffffff; /*used for text on dark backgrounds or overlays*/
  /* Neutral Colors */
  --dark-grey: #333333; /* used for body text*/
  --light-grey: #cccccc; /* used for borders or disabled elements*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
}
* {
  transition: all 200ms;
}
