/* Dushdoard page styles */

:root {
  /* Primary Colors */
  --sage-green: #597d72; /*used for headers, buttons, and highlights*/
  --beige: #f5f5dc; /*used for backgrounds*/
  /* Secondary Colors */
  --dark-sage: #2f4f4f; /* used for text on light backgrounds */
  --light-beige: #faf9f6; /* used for backgrounds or cards */
  /* Accent Colors */
  --coral: #ff7f50; /* used for call-to-action buttons or important highlights*/
  --white: #ffffff; /*used for text on dark backgrounds or overlays*/
  /* Neutral Colors */
  --dark-grey: #333333; /* used for body text*/
  --light-grey: #cccccc; /* used for borders or disabled elements*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
}
* {
  transition: all 200ms;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  size: 16px;
  border-radius: 8px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

/* Header styles */
nav {
  background-color: #597d72;
  color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
}

#headings {
  font-size: 30px;
  text-align: center;
  padding: 25px;
  padding-bottom: 40px;
}

section {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  margin: 0;
}

h1 {
  color: var(--sage-green);
  font-size: 36px;
}

.form-wrapper label {
  color: var(--dark-sage);
  font-size: 14px;
}
.form-wrapper input,
.form-wrapper textarea,
.form-wrapper select {
  font-size: 14px;
  padding: 4px;
  border: 1px solid var(--dark-sage);
  background-color: var(--light-beige);
  border-radius: 8px;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  outline: none;
  border: 1px solid var(--dark-sage);
  box-shadow: 0 0 5px var(--sage-green);
}
.form-wrapper button {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  background-color: var(--sage-green);
  color: var(--white);
  margin-right: 8px;
}
.form-wrapper button:hover,
.form-wrapper button:focus {
  background-color: var(--dark-sage);
}

form p {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-sage);
  margin-bottom: 6px;
}
.basic-info,
.health-info,
.behavior,
.adoption-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.behavior div {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: repeat(20px);
  gap: 6px;
}
input[type="text"] {
  width: 490px;
}
select {
  width: 500px;
}

.upload-photo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--dark-sage);
  padding: 10px;
  background-color: var(--light-beige);
}
.upload-photo input {
  border: none;
  background-color: transparent;
}

/* Radio-buttons style */

.form-radio-btn {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-radio-btn label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: var(--dark-sage);
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}

.form-radio-btn label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid var(--dark-sage);
  border-radius: 50%;
  background-color: var(--light-beige);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type="radio"]:checked + label::before {
  background-color: var(--white);
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--dark-sage);
}

/* Checkbox */

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.check {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: var(--dark-sage);
  padding-left: 30px;
  position: relative;
}

.check::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid var(--dark-sage);
  border-radius: 50%;
  background-color: var(--light-beige);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type="checkbox"]:checked + .check::before {
  background-color: var(--white);
}

input[type="checkbox"]:checked + .check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--dark-sage);
}

/* Footer styles */

footer {
  background-color: var(--sage-green);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
